{% extends "_base/summary/attributes.html.jinja" %}

{% block logs scoped %}
{% if config.extra.template_log_display %}<p style="color:red">summary/attributes.html.jinja</p>{%  endif %}
{% endblock logs %}

        