#------- Package & Cache Files -------
*.egg-info
__pycache__
node_modules
.vite

#------- Environment Files -------
.python-version
.venv

#------- Git Files -------
BASE
LOCAL
*.orig
REMOTE

#------- OS Files -------
.DS_Store

#------ Database Files -------
*.sqlite3
*.db

#------ IDE ------
.idea
.vscode/


#----- Built Directory & Files------
.coverage
dist/
site/
_build/
.hypothesis/
coverage.xml
