fail_fast: false
repos:
- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    args: ["--ignore=E501,W503,W605,E722"]
    types: [python]

  - id: black
    name: Black
    entry: black
    args: [--check]
    language: system
    types: [python]
