alabaster==0.7.13
babel==2.17.0
certifi==2025.4.26
charset-normalizer==3.4.2
docutils==0.20.1
idna==3.10
imagesize==1.4.1
importlib-metadata==8.5.0
jinja2==3.1.6
markupsafe==2.1.5
packaging==25.0
pygments==2.19.1
pytz==2025.2
requests==2.32.4
snowballstemmer==3.0.1
sphinx==7.1.2
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
urllib3==2.2.3
zipp==3.20.2
