{% extends "_base/docstring/modules.html.jinja" %}

{% block logs scoped %}
{% if config.extra.template_log_display %}<p style="color:red">docstring/modules.html.jinja</p>{%  endif %}
{% endblock logs %}

        