/*
 https://coolors.co/568e83-f5fbef-84c318-9684a1-161925
 https://coolors.co/2ec0f9-67aaf9-9bbdf9-c4e0f9-b95f89
 https://coolors.co/ddd8c4-a3c9a8-84b59f-69a297-50808e
https://coolors.co/e6c229-f17105-d11149-6610f2-1a8fe3


 */

.md-header {
  background: #d11149;
}

nav.md-tabs {
  display: none;
}


h2.doc-heading-parameter {
  font-size: 16px;
}

.doc-md-description {
  font-size: 16px;
  display: block;
}

